.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.firstElement {
  min-height: calc(100vh - 80px);
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
}

.firstElement > * {
  width: 50%;
}

.leftContainer {
  background-color: rgb(205, 205, 205);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftContainer h1 {
  font-size: 3rem;
  margin: 0;
  transform: translate(0, -80px);
}

.leftContainer small {
  margin: 0;
}

.rightContainer {
  background: url('/images/land.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: rebeccapurple;
}

.secondElement {
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.main h2 {
  font-size: 3rem;
  margin: 20px;
  text-decoration: underline;
}

.benefitsContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.individualBenefit {
  background-color: rebeccapurple;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  width: 30%;
  min-width: 360px;
}

.individualTestimony {
  background-color: black;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  width: 30%;
  min-width: 360px;
}

.main h3 {
  font-size: 1.7rem;
  margin: 10px;
}

.benefitImageContainer {
  position: relative;
  margin: 0 auto;
  border-radius: 40px;
  overflow: hidden;
  width: 80%;
  height: 333px;
  border: solid black 2px;
}

.thirdElement {
  min-height: 100vh;
  width: 100%;
  background-color: rebeccapurple;
}

.fourthElement {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}

.fourthElement p {
  width: 90%;
  max-width: 555px;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .firstElement {
    flex-direction: column;
  }

  .firstElement > * {
    width: 100%;
  }

  .leftContainer {
    height: 100vh;
  }

  .rightContainer {
    display: hidden;
  }

  .benefitsContainer {
    align-items: center;
  }

  .benefitsContainer {
    flex-direction: column;
  }

  .individualBenefit {
    width: 90%;
  }
}
